body
{
	background: black;
}

.image
{
	text-align: center;
}

img{
max-width: 10%;
}

.spoiler
{
	text-align: center;	
}

span{
	color:white;
}

h1
{
	color:white;
	font-size: 10;
	text-align: center;
}